.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); 
}

.topnav .nav-items {
  display: flex;
}

.topnav .nav-items a {
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.topnav .nav-items a:hover {
  color: orange;
}

.topnav .nav-items a.active {
  color: orange;
}

.topnav .login-button {
  background-color: orange;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 17px;
  color: black;
  text-decoration: none;
}

.topnav .login-button:hover {
  background-color: darkorange;
}

.topnav i {
  font-size: 20px;
  vertical-align: middle;
  margin-left: 10px;
  color: whitesmoke; 
}

.topnav i:hover {
  color: whitesmoke; 
}
