.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/home_coffee2_slider_bg.jpg);
  background-size: cover;
  /* filter: blur(5px); */
  z-index: -1;
}
body {
  margin: 0;
  padding: 0;
}
.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #fff;
}
.topnav {
  padding-top: 40px;
  padding-right: 50px;
  overflow: hidden;
  /* background-color: black; */
  margin-left: 10px;
  font-family: "Gill Sans", sans-serif;
}
.topnav a {
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  /* background-color: #fdebd0; */
  color: orange;
}
.topnav a.active {
  /* background-color: #04AA6D; */
  color: white;
}
#caption {
  font-size: 28px;
  height: 50px;
  width: 490px;
  text-align: inherit;
  margin-left: 50px;
  color: whitesmoke;
}
#insidebody {
  margin-top: 200px;
}
#welcome {
  color: orange;
  margin-left: 50px;
  font-size: 25px;
}
#about {
  color: orange;
  margin-left: 120px;
  font-size: 25px;
  padding-top: 120px;
  /* border: solid 1px; */
}
a {
  text-decoration: none;
  color: orange;
}
a:hover {
  color: whitesmoke;
}

@media (min-width: 1920px) {
  #insidebody {
    margin-top: 28%;
    margin-left: 5%;
  }
  .topnav {
    padding-top: 66px;
    padding-right: 70px;
    margin-left: 10px;
  }
  .topnav a {
    font-size: 20px;
  }
  #caption {
    font-size: 28px;
    width: 555px;
    }
  #captionh2 {
    font-size: 48px;
  }
  #about{
    font-size: 26px;
    padding-top: 132px;
  }
}
