.topnav {
  padding-right: 50px;
  overflow: hidden;

  margin-left: 10px;
  margin-top: -15px;
  font-family: "Gill Sans", sans-serif;
}
.topnav a {
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  /* background-color: #fdebd0; */
  color: orange;
}
.topnav a.active {
  /* background-color: #04AA6D; */
  color: white;
}
header {
  position: relative;
  height: 500px;
  overflow: hidden;
}
header::before {
  content: "";
  background-image: url(./img/tim-gouw-NSFG5sJYZgQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  z-index: -1;
}
header .content {
  position: relative;
  z-index: 1;
}
#hAbout {
  text-align: center;
  font-size: 65px;
  line-height: 65px;
  font-weight: 500;
  letter-spacing: 0px;
  color: orange;
}
#wallpepar {
  width: 500px;
  margin-left: 75px;
}
#heading {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 55px;
  color: whitesmoke;
}
#res {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -120px;
}
#input {
  padding-left: 150px;
}
#in {
  border: solid 1px whitesmoke;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 15px;
  margin-left: 45px;
}

#border {
  padding: 40px;
  /* background: rgba(0, 0, 0, 0.5);  */
  border-radius: 10px;
  color: orange;
}

.box {
  display: block;
  width: calc(100% - 2px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#next {
  padding: 10px 20px;
  border: none;
  background-color: #f7aa05;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  /* margin-top: -15px; */
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  /* backdrop-filter: blur(10px);  */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: orange;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#logo {
  width: 150px;
  height: 150px;
  margin-left: 45px;
  border-radius: 100%;
}
#navcontent {
  margin-top: 25px;
  border-top: 2px solid orange;
  padding-top: 20px;
}
body {
  background-color: black;
}
table {
  color: aliceblue;
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
  margin-top: 80px;
}
th,
td {
  text-align: center;
  /* padding: 10px; */
  font-style: inherit;
}
a {
  text-decoration: none;
  color: silver;
}
a:hover {
  color: orange;
}
