.topnav {
  padding-top: 40px;
  padding-right: 50px;
  overflow: hidden;
  /* background-color: black; */
  margin-left: 10px;
  font-family: "Gill Sans", sans-serif;
}
.topnav a {
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  /* background-color: #fdebd0; */
  color: orange;
}
.topnav a.active {
  /* background-color: #04AA6D; */
  color: white;
}
header {
  position: relative;
  height: 500px;
  overflow: hidden;
}

header::before {
  content: "";
  background-image: url(./img/daan-evers-tKN1WXrzQ3s-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  z-index: -1;
}
header .content {
  position: relative;
  z-index: 1;
}
#hAbout {
  text-align: center;
  font-size: 65px;
  line-height: 65px;
  font-weight: 500;
  letter-spacing: 0px;
  color: orange;
}
#map {
  margin-top: 135px;
  margin-left: 146px;
}
#img {
  width: 225px;
  height: 225px;
}
#map h4 {
  font-size: 23px;
  margin-bottom: 39px;
  margin-top: 51px;
  text-align: center;
  width: 230px;
  color: silver;
}
#map p {
  font-size: 19px;
  margin-top: -13px;
  color: black;
    margin-left: -1px;
}
#googleM {
  /* width: 550px; */
  /* height: 550px; */
   border-left: 2px solid orange;
   padding-left: 130px; 
}
#all {
  display: inline-flex;
  /* color: whitesmoke; */
}
#img2 {
  padding-left: 145px;
  margin-top: 135px;
}
a {
  text-decoration: none;
  color: silver;
}
a:hover {
  color: orange;
}
#msgHead {
  margin-top: 45px;
}
#feedback {
  text-align: center;
  justify-content: center;
  margin-top: 115px;
  margin-bottom: 150px;
  border-top: solid 2px orange;
}
table {
  color: black;
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
  margin-top: 80px;
}
th,
td {
  text-align: center;
  /* padding: 10px; */
  font-style: inherit;
}
input{
  /* border-radius: 5%; */
  border:solid 1px ;
}