.topnav {
  padding-top: 40px;
  padding-right: 50px;
  overflow: hidden;
  /* background-color: black; */
  margin-left: 10px;
  font-family: "Gill Sans", sans-serif;
}
.topnav a {
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  /* background-color: #fdebd0; */
  color: orange;
}
.topnav a.active {
  /* background-color: #04AA6D; */
  color: white;
}
header {
  position: relative;
  height: 500px;
  overflow: hidden;
}
header::before {
  content: "";
  background-image: url(./img/katarzyna-grabowska-Hnkus7qNbE4-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  z-index: -1;
}
header .content {
  position: relative;
  z-index: 1;
}
#hAbout {
  text-align: center;
  font-size: 65px;
  line-height: 65px;
  font-weight: 500;
  letter-spacing: 0px;
  color: orange;
}
#dis {
  text-align: center;
  margin: 0px 250px 0px 250px;
  font-style: inherit;
}
#dis p {
  font-family: "Gill Sans", sans-serif;
  color: #7f8c8d;
}
#dis h1 {
  margin-top: 8%;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-left: 1%;
}
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-family: "Gill Sans", sans-serif;
}
th,
td {
  padding: 10px;
}
h2,
h3 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orange;
}
.coffee {
  display: inline-block;
  /* align-items: center; */
  margin: 50px 20px 0px 20px;
}
